body {
    font-family:sans-serif;
}
#image {
/*  display:flex;*/
    position: relative;
    top: 50px;
}
img#img {
    width: 150px;
}
#image div {
    flex: 1 1 0;
}
#result {
    transition:all .5s ease;
    padding: 7px;
    background-color: #4e8e05;
    font-family: monospace;
    color: #fff;
    border-radius: 7px;
    position: absolute;
    width: 280px;
    right: 59%;
    top: 5em;
}
#result:hover {
    font-size:15px;
    width:290px;
}
#result:hover:after{width: 120px;left: 262px;transition:all .5s ease;}
#result:hover:before{width: 120px;left: 262px;transition:all .5s ease;content: 'Подсказка';color:#4e8e05;}
#result::after {
    transition:all .5s ease;
    content: '.';
    background-color: #4d8d04;
    color: transparent;
    border-radius: 7px;
    position: absolute;
    width: 165px;
    height: 3px;
    transform: rotate(50deg);
    left: 237px;
    top: 88px;
    z-index: 0;
}
#result::before {
    transition: all .5s ease;
    content: '.';
    background-color: #4d8d04;
    color: transparent;
    border-radius: 7px;
    position: absolute;
    width: 50px;
    height: 3px;
    /* transform: rotate(50deg); */
    left: 371px;
    top: 150px;
    z-index: 0;
}
iframe#frame {
    border: 0;
    width: 100%;
    height: 50vh;
    position: relative;
    top: 110px;
}/*
#result {
    padding: 10px;
    /* background-color: #CCC; */
    font-family: monospace;
    position: absolute;
    width: 30%;
    right: 0;
}*/
